<!doctype html><!-- /views/admin/master.html -->
<html>
    <head>
        <title>{{.title}}</title>
        {{template "head" .}}{{/* блок head из index.tmpl */}}
    </head>

    <body>
        {{template "content" .}}{{/* блок content из index.tmpl */}}
        <hr>
        {{include "layouts/footer"}}{{/* содержимое из шаблона layouts/footer.tmpl */}}
    </body>
</html>